*{
	font-family: 'Raleway', sans-serif;
	/*font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;*/

}
/*ICONS*/
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.material-icons.bg_color{
	color: #fff;
	background: gray;
}

/*REUSABLES*/
.p-0{
	padding: 0 !important;
}
body{
	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
}
header{
	background-image: url("../img/fondo/leaves-green-purple.jpg");
	width: 100%;
	height: 100vh;
	color: #fff;
	display: flex;
	align-items: center;
}
header .container{
	display: flex;
	justify-content: center;
}
#portada{
		background-color: darkgray;
    padding: 153px 85px;
    /*opacity: 0.9;*/
}

.brand{
	position: absolute;
	top: 2%;
	left: 2%;
	font-weight:bold;
	font-style: italic;
	font-size: 2rem;
	border-radius: 50%;
	background-color: #fff;
	width: 60px;
	height: 60px;
}

.brand h4{
	color: #000;
	}
/*CONOCEME*/
h2{
	font-weight: 900;
	letter-spacing: 5px;
	font-size: 8.5rem;
	color: rgb(230,280,244);
}

.title2 h2{

	font-weight: 900;
	letter-spacing: 5px;
	font-size: 5.5rem;
	color: rgb(230,280,244);

}
.intro{
	background-color: red;
}
.title{
	position: relative;
}

.title h2 + h3{
	position: absolute;
	bottom: 35px;
	right: 30%;
	text-align: center;
	font-size: 2.2rem;
}
#about .row + .row{
	background-color: orange;

}
.description{
	background-color: #1de798;
	padding: 30px;
}

/*PORTAFOLIO*/
/*.proyecto img{
	width: 100%;
	height: 100%;
	filter: grayscale(0) blur(0);
	transition: .3s ease-in-out;
}
.proyecto img:hover{
	filter: grayscale(100%) blur(2px);

}*/
.proyecto{
	position: relative;
	width: 100%;
	height: 200px;
}

.proyecto img{
	display: block;
	width: 100%;
	height: 100%;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: auto;
	width: 100%;
	opacity: 0;/*no se ve nada*/
	transition: .5s ease;
	background-color: rgba(0,0,0,0.9);
	display: flex;
	justify-content: center;
	align-items: center;
}
.proyecto:hover .overlay{
	opacity: 1;/*se ve, color entero*/
}
.text{
	color: #fff;
}

/*MODAL*/
.open{

}

.modal-content div img{
	width: 100%;
	height: 100%;
}
.modal-content .row{


}
.box{
	background: rgba(255,255,255,0.5);
	height: 370px;
	padding: 3px;

}
.content{
	background-color: #fff;

	padding: 30px;
}
.content p{
	color:#000;
}
.modal-overlay {
	opacity: 0.8 !important;
}

/*CONTACTO*/
#contact{
	background-image: url("../img/fondo-contact/road.jpg");
	background-size: cover;
	width: 100%;
	height: 100vh;
	color: #fff;
}

/*FOOTER*/
footer{
	background: green;
	padding: 5px;
}
p{
	margin:0;
	color: #fff;
}
