@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d2uu6o');
  src:  url('fonts/icomoon.eot?d2uu6o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d2uu6o') format('truetype'),
    url('fonts/icomoon.woff?d2uu6o') format('woff'),
    url('fonts/icomoon.svg?d2uu6o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e0cd";
}
.icon-camera:before {
  content: "\e3af";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-phone_iphone:before {
  content: "\e325";
}
.icon-settings_cell:before {
  content: "\e8bc";
}
.icon-home:before {
  content: "\e900";
}
.icon-profile:before {
  content: "\e923";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-flickr2:before {
  content: "\eaa4";
}
.icon-github:before {
  content: "\eab0";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-html-five2:before {
  content: "\eae5";
}
.icon-css3:before {
  content: "\eae6";
}
.icon-codepen:before {
  content: "\eae8";
}
